<h1><%= @list.name %></h1>

  <% if @name.first_name.present? %>
    <h2>Created By: <%= link_to @name.first_name, user_path(@list.user_id) %></h2>
  <% end %>

  <p>Description: <%= @list.description %></p>


  <% @list.games.each do |game| %>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to image_tag(game.image, :class => 'img-thumbnail'), game %>
      </div>
    </div>
  </div>
<% end %>

<div class="controls">
  <%= link_to "Edit PwnList", edit_list_path(@list), :class => "btn btn-primary" %>
  <% if @current_user.admin? %>
  <%= link_to "Delete PwnList", list_path(@list), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary" %>
  <% end %>
</div>
