<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@user, :html => { :multipart => true }) do |f| %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control", :placeholder => "cookie@gmail.com"%>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control", :placeholder => "Shelley" %>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control", :placeholder => "Zhang" %>
</div>
<div class="form-group">
  <%= f.label "What's Your Story?" %>
  <%= f.text_area :bio, :class => "form-control", :placeholder => "I'm like seriously the best." %>
</div>
<div class="form-group">
  <%= f.label :country %>
  <%= f.text_field :country, :class => "form-control" %>
  <small id="passwordHelpInline" class="text-muted">
      Example: 1 Thomas Holt Drive, Macquarie Park
  </small>

</div>
<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.submit :class => "btn btn-primary" %>
</div>
<% end %>
