<h1><%= @user.first_name %>'s Profile</h1>

<br>
<br>

<div class="col">

<% if @user.image.present? %>
  <%= image_tag @user.image, :class => "gamenav", :alt => @user.first_name %>
<% end %>

<br>
<br>
<br>

<div class="controls">
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => "btn btn-primary" %>
  <% if @current_user.admin? %>
  <%= link_to 'Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary" %>
  <% end %>
</div>

<br>
<br>

</div>

<div class="col">

  <h4>Name:</h4>
    <p><%= @user.first_name %> <%= @user.last_name%></p>
  <% if @user.bio.present? %>
  <h4>Bio:</h4>
    <p><%= @user.bio %><p>
  <% end %>
  <h4>Where I Live:</h4>
    <p><%= @user.country %></p>

<% if @user.country.present? %>
  <div id="map"></div> <!--need predefined height to display content, otherwise it won't expand-->

<% end %>

  <script>
      var myLatLng = {lat: <%= @latitude %>, lng: <%= @longitude %>};

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        })
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRJ_rNpk79o-xD6SiesCvKhF6fEWrF6lk&callback=initMap"
    async defer></script>

<br>

  <button id="get-quote" class="btn btn-primary">Get your Swanson on</button>

  <br>
  <br>

  <p id="quote">Getting quote...</p>

  </div>
</div>
