<h1><%= @user.first_name %>'s Profile</h1>

<% if @user.image.present? %>
<%= image_tag @user.image, :alt => @user.first_name, :class => "feature" %>
<% end %>

<ul>
  <li>Full Name: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>Where I Live: <%= @user.country %></li>
  <li>Bio: <%= @user.bio %></li>
</ul>


<% if @user.country.present? %>
  <div id="map"></div> <!--need predefined height to display content, otherwise it won't expand-->

  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: <%= @latitude %>,
            lng: <%= @longitude %>,
          },
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRXwg_OQijgCBgFl1XoVh63khQf0Ojz7A&callback=initMap"
    async defer></script>

<% end %>

<button id="get-quote">Get your Swanson on</button>
<p id="quote">Getting quote...</p>

<div class="controls">
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <%= link_to 'Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
