<h1><%= @user.first_name %>'s Gamer Profile</h1>

<% if @user.image.present? %>
<%= image_tag @user.image, :alt => @user.first_name, :class => 'feature' %>
<% end %>

<ul>
  <li>Full Name: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>Country: <%= @user.country %></li>
  <li>Bio: <%= @user.bio %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <%= link_to 'Delete Profile', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
