<h1><%= @game.title %></h1>

<br>
<br>
<br>

<div class="gamebody">
<% if @game.image.present? %>
<%= image_tag @game.image, :alt => @game.title, :class => "img-thumbnail" %>
<% end %>

<br>
<br>
<br>

    <h3>Name: <%= @game.title %></h3>
    <h3>Genre: <%= @game.genre %></h3>
    <h3>Developer: <%= @game.developer %></h3>

<br>
<br>

<div class="controls">
  <%= link_to "Edit Game", edit_game_path(@game), :class => "btn btn-primary"  %>
  <% if @current_user.admin? %>
  <%= link_to "Delete Game", game_path(@game), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary" %>
  <% end %>
</div>

</div>
