<!DOCTYPE html>
<html>
  <head>
    <title>Pwnlists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="master.scss">
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>
        <%= link_to "Edit Profile", @current_user %>
        <%= link_to "Create List", new_list_path %>
        <%= link_to "Add Game", new_game_path %>
        <%= link_to "All Games", games_path %>
        <%= link_to "All Lists", lists_path %>
        <%= link_to "Sign out #{ @current_user.first_name }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
