<!DOCTYPE html>
<html>
  <head>
    <title>Pwnlists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
      <% if @current_user.present? %>
        <li class="nav-item active brand">
          <%= link_to "PwnLists", root_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", @current_user, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create List", new_list_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Add Game", new_game_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Games", games_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "All Lists", lists_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out #{ @current_user.first_name }", login_path, :method => 'delete', :class => "nav-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign in', login_path, :class => "nav-link" %>
        </li>
      <% end %>

      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
